*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.cabecera{
    background-color: aquamarine;
}

.galeria__imagen{
    height: 30vh;
    width: 20vw;
    object-fit: cover;
}

.cabecera__lista{
    height: 20vh;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row; /* opcional xq row es el default*/
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
    /*space-between, todo el espacio restante*/ 
    /*space-evenly, menos espacio entre ellos*/
    /*space-around, al principio hay la mitad del espacio que hay entre ellas*/


}

.cabecera__lista__item{
    width: 250px;
    border: solid 1px black;
}

.galeria{
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: space-between;

}